/* 
    General settings 

    Color scheme:
        #ECE3CE
        #739072
        #4F6F52
        #3A4D39
*/

body {    
    font-weight: 400;
    background-color: #ECE3CE;
    font-size: 20px;
}

img {
    border-radius: 5%;
    width: 100%;
    height: 100%;
}

footer {
    bottom: 0;
    background-color: #3A4D39;
}

/* H2 animation */
/* --------------------------------------------------------------------------------------- */

.animation-container {
    padding-top: 4rem;
    width: 100%;
    text-align: center;
    vertical-align: bottom;
    background-color: #3A4D39;
}

.custom-h2 {
    font-size: 6em;
    font-weight: 500;
    color: #222;
    letter-spacing: 5px;
    cursor: pointer;
}

.custom-h2 span {
    transition: 0.5s;
}

.custom-h2:hover span:nth-child(1) {
    margin-right: 10px;
}

.custom-h2:hover span:nth-child(1):after {
    content: " not";
}

.custom-h2:hover span:nth-child(2) {
    margin-left: 6px;
}

.custom-h2:hover {
    color: white;
    text-shadow: 0 0 10px white,
                 0 0 20px white,
                 0 0 40px white,
                 0 0 80px white,
                 0 0 120px white;
}


/* Navbar settings */
/* --------------------------------------------------------------------------------------- */
.navbar {
    background-color: #3A4D39;
    margin-bottom: 20px;
}

.navbar-nav {
    padding-left: 20px;
}

.navbar-brand {
    font-size: 40px;
    font-family: Garamond, Baskerville, Baskerville Old Face, Hoefler Text, Times New Roman, serif;
    color: white;
    margin: 20px;
}

.custom-navbar-brand {
    transition: 1.0s;
}

.custom-navbar-brand:hover {
    color: white;
    text-shadow: 0 0 10px white,
                 0 0 20px white,
                 0 0 40px white,
                 0 0 80px white,
                 0 0 120px white;
}

.nav-item {
    font-size: 20px;
    position: relative;
    justify-content: space-around;
    width: 5rem;
}

.nav-link {
    color: white;
}

.nav-underline {
    color: #ECE3CE;
}


/* Section settings */
/* --------------------------------------------------------------------------------------- */

.custom-section {
    width: 100%;
    padding-top: 5rem;
}

.section-container {
    width: 100%;
    padding: 4rem 4rem;
}

.row .row-cols-2 {
    width: 100%;
}

.row {
    width: 100%;
    height: 50%;
}

.row div {
    width: 50%;
    height: 100%;
    float: left;
}

.col {
    width: 100%;
    text-align: justify;
}


/* Progress bar settings */
/* --------------------------------------------------------------------------------------- */
  
.progress-container {
    width: 100%;
    height: 8px;
    background: #ccc;
}

.progress-bar {
    height: 8px;
    background: #4F6F52;
    width: 0%;
}

.progress-bar-row {
    height: 8px;
    position: fixed;
}

.custom-row {
    width: 100%;
}
